.hero-home{
    background-color: #F6CCB0;
}

.hero-photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    width: 60%;
    height: auto;
    padding-bottom: 20px;
}

/* @media () {
    
} */